{% extends  "@HAFCalendar/layout.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li class=""><a href="{{ path('calendar_event') }}">Event</a></li>
{% endblock %}

{% block header_title %}
<span class="glyphicon glyphicon-calendar"></span> Event
{% endblock %}
