{% set routeName = app.request.attributes.get('_route') %}
{% set routeParams = app.request.attributes.get('_route_params') %}

{% if pagination is defined %}
    <div class="text-center">
    <div class="pagination">
        {% if pagination.pages_count != 0 %}
            <ul class="" style="margin: 0 auto;">
                <li {% if pagination.page == 1 %}class="disabled"{% endif %} >
                    <a href="{{ path(routeName, routeParams|merge({page:1})) }}">&laquo;</a>
                </li>
                {% for p in range(
                max(pagination.page -4, 1),
                min(pagination.page+4, pagination.pages_count)) %}

                    <li {% if p == pagination.page %}class="active"{% endif %}>
                        <a href="
                        {{ path(routeName, routeParams|merge({'page': p})) }}
                        ">
                            {{ p }}</a>
                    </li>
                {% endfor %}

                <li {% if pagination.page == pagination.pages_count %}class="disabled" {% endif %} >
                    <a href="{{ path(routeName, routeParams|merge({page:pagination.pages_count})) }}">
                        &raquo;
                    </a>
                </li>
            </ul>

        {% endif %}
    </div>
    </div>
{% endif %}
