{% extends  'WalvaCrudAdminBundle:Crud:new.html.twig' %}

{% block body -%}
    <h1>Source creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('video_source') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
