{% extends  "@HAFCalendar/Category/layout.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li class="">Description</li>
{% endblock %}

{% block header_title %}
    <span class="glyphicon glyphicon-calendar"></span> Cateory Description
{% endblock %}
