{% extends  'WalvaCrudAdminBundle:Crud:new.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}


{% block body -%}
    <h1>CategoryDescription creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('calendar_category_description') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
