

<form action="{{ path('article_public_list_search') }}">
    <div class="input-append">
        <input class="span8" id="appendedInputButton" type="text" name="value">
        <input type="submit" id="_submit" class="btn btn-success" name="submit" value="{{'Search!'|trans}}">
    </div>
</form>