{% extends  "WalvaVideoBundle::layout.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li class="">lit of internal videos</li>
{% endblock %}

{% block header_title %}
<span class="glyphicon glyphicon-play-circle"></span> lit of Internal Video
{% endblock %}
