{% extends  "WalvaCrudAdminBundle:Crud:show.html.twig" %}


{% block header_title %}
<span class="glyphicon glyphicon-play-circle"></span> Internal Video
{% endblock %}

{% block crud_table_body %}
<tr>
    <th>Id</th>
    <td>{{ entity.id }}</td>
</tr>
<tr>
    <th>Internal Name</th>
    <td>{{ entity.internalName }}</td>
</tr>
{% endblock %}
