<h4>{{'Nos dernières publications' | trans}}</h4>

<ul>




{% for entity in entities %}
    <li class="sousMenuDroite">
        <i class="icon-chevron-right"></i> <a href="{{ path('article_public_show', { 'id': entity.id }) }}" title="{{ entity.titre }}">
                {{ entity.titre }}</a>
    </li>



{% endfor %}
</ul>