{% extends 'WalvaHafBundle:Reference:admin.html.twig' %}

{% block breadcrumb %}
{{ parent() }}
<li class="active">Reference edit</li>
{% endblock %}

{% block body -%}
    <h1>Reference edit</h1>

    {{ form(edit_form) }}
    
    <div class="pull-right">
{{ form(delete_form) }}
</div>

       
</ul>
{% endblock %}

{% block container_header_right %}


    <a class="btn " href="{{ path('reference') }}">
        <i class="icon-chevron-left"></i> 
        Back to the list
    </a>

{% endblock %}