{% extends  "WalvaVideoBundle::layout.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li class="">All type</li>
{% endblock %}

{% block header_title %}
<span class="glyphicon glyphicon-play-circle"></span> Video
{% endblock %}

{% block content %}
<h1>Hello {{ name }}!</h1>
<hr>
{% endblock %}