{% extends  "@HAFCalendar/layout.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li class="">Category</li>
{% endblock %}

{% block header_title %}
<span class="glyphicon glyphicon-calendar"></span> Category
{% endblock %}
