{% extends  'WalvaCrudAdminBundle:Crud:show.html.twig' %}

{% block crud_table_body -%}
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Internalname</th>
                <td>{{ entity.internalName }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ entity.color }}</td>
            </tr>
{% endblock %}
