<ul class="sub-menu">

    <li id="menu-item-69" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-69">
        <a href="http://healthandfood.be/html/fr/ferme.html">
                                                {{'Tous à la ferme !' | trans}}</a>
        </li>

        <li id="menu-item-70" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-70">
            <a href="http://www.diffu-sciences.com/bmi.php">
                                                {{'Calcul de l\'IMC' | trans}}</a>
            </li>

            <li id="menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19">
                <a href="http://healthandfood.be/html/fr/pyramide.htm">
                                                {{'La Pyramide Alimentaire' | trans}}</a>
                </li>

                <li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20">
                    <a href="http://lacerise.be/fr/homefr.htm">
                                                {{'La cerise' | trans}}</a>
                    </li>
                </ul>