{% extends 'WalvaHafBundle:Article:admin.html.twig' %}

{#{% form_theme form ':form:bootstrap_3_horizontal_layout.html.twig' %}#}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Article creation</li>
{% endblock %}


{% block body -%}
    <h1>Article creation</h1>

    {{ form(form) }}

{% endblock %}






{% block container_header_right %}
    <div class="btn-group">
        <a class="btn " href="{{ path('article') }}">
            <i class="icon-chevron-left"></i>
            Back to the list
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window.onload = function () {
            CKEDITOR.replace('walva_hafbundle_article[contenu]');
        };
    </script>
{% endblock %}