{% extends  "::crud_admin.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li class="">Video</li>
{% endblock %}

{% block header_title %}
<span class="glyphicon glyphicon-play-circle"></span> Video
{% endblock %}