{% extends  "::crud_admin.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li class=""><a href="{{ path('abstract_video') }}">Video</a></li>
{% endblock %}

{% block header_title %}
<span class="glyphicon glyphicon-play-circle"></span> Video
{% endblock %}